<div class="container spacer">
    <p></p><br><br>
  
      <!-- <div class="panel panel-secondary">
          <div class="panel-heading">Profil</div>
          <div class="panel-body">
  
                  <form class="user">
                    <input type="hidden"  formControlName="id" id="id">
                    <div class="form-group">
                      <label>Nom:  </label>
                      <label>{{user.nom}}</label>
                    </div>
                    <div class="form-group">
                      <label>Prénom: </label>
                      <label>{{user.prenom}}</label>
                    </div>
                    <div class="form-group">
                      <label>Email: </label>
                      <label>{{user.email}}</label>
                    </div>
                    <div class="form-group">
                      <label>Rôle: </label>
                      <label>{{user.role}}</label>
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-outline-dark ml-1" routerLink="/list-user"><i class="fa fa-close"></i> Close</button>
                   </div>
                  </form>
              
  
           </div>
      </div> -->
       <!-- <div class="row">
              <div class="col-md-9"> -->
          
            <div class="panel panel-secondary">
                          <h4 class="panel-heading " >Profil de l'utilisateur</h4>
            </div>
            <div class="panel-body">
              
                  <div class="form-group">
                    <label class="bmd-label-floating">NOM:  </label>
                    <label class="form-control">{{user.nom}}</label>
                  </div>
  
                  <div class="form-group">
                    <label class="bmd-label-floating">PRENOM:  </label>
                    
                    <label class="form-control">{{user.prenom}}</label>
                  </div>
  
                  <div class="form-group">
                    <label class="bmd-label-floating">EMAIL:  </label>
                    <label class="form-control">{{user.email}}</label>
                  </div>
                  <div class="form-group">
                    <label class="bmd-label-floating">ROLE:  </label>
                    <label class="form-control">{{user.role}}</label>
                
                   
                  <div class="form-group">
                    <button type="button" class="btn btn-info " > Enregistrer</button>&nbsp;
                    <button type="button" class="btn btn-info " routerLink="/list-user"><i class="fa fa-close"></i> Close</button>
                  </div>
                  
              
  
            </div>
  
          
  
  
        <!-- </div>
      </div>  -->
      
      <!-- <div class="col-md-12">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img class="img" alt="" src="assets/menu/img/avatar1_small.jpg"/>
            </a>
          </div>
          <div class="card-body">
            
              
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">NOM:  </label>
                    <label class="form-control">{{user.nom}}</label>
                    </div>
                  </div>
  
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">PRENOM:  </label>
                      <label class="form-control">{{user.prenom}}</label>   
                  </div>
                </div>
              </div>
  
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">EMAIL:  </label>
                    <label class="form-control">{{user.email}}</label>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">ROLE:  </label>
                    <label class="form-control">{{user.role}}</label>
                    </div>
                  </div>
                </div>
  
                  <div class="form-group">
                    <button type="button" class="btn btn-outline-dark ml-1" routerLink="/list-user"><i class="fa fa-close"></i> Close</button>
                  </div>
  
               
  
  
          </div>
        </div>
      </div> -->
    
  
      
      <!-- <h2 style="text-align:center">User Profile Card</h2>
  
  <div class="card">
    <img src="assets/menu/img/unkown.jpg" alt="John" style="width:100%">
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
    <p><button>Contact</button></p>
  </div> -->
  
  
  
  </div>
  <router-outlet></router-outlet>
  