 <h2 style="text-align:center">Mon Profil</h2>

<div class="card">
 
  <img src="assets/menu/img/jer.jpg" alt="" style="width:50%">
  <h1>{{nom}} {{prenom}}</h1>
  <p> Username: {{name}}</p>
  <p class="title">Email : {{email}}</p>
  <p>{{role}}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button> <i class="fa fa-phone"></i>Contact:Tel</button></p>
  <p><button routerLink="/entreprises"><i class="fa fa-close"></i>Close</button></p>
</div>
<router-outlet></router-outlet>


