<div class="container contain" >
  <p></p><br>
     <h3 style="margin-left: 20px; color: #5bc0de;">Choisissez ici une préférence(Metier-Ville) : </h3>
     <div class="row">
    <div class="col-md-9 insearch " >
    <select class="form-control" name ="rome_code" [(ngModel)]="rome_code">
      <option value="M1607" [selected]="true"> Secrétariat à METZ</option>
      <option value="I1401" [selected]=" true"> Maintenance informatique à PARIS</option>
      <option value="G1602" [selected]=" true"> Personnel de cuisine à BORDEAUX</option>
      <option value="C1504" [selected]=" true"> Transaction immobilière à CANNES</option>
      <option value="K1303" [selected]=" true"> Assistance auprès d'enfants à LYON</option>
      <option value="J1506" [selected]=" true"> Soins infirmiers généralistes à Toulouse</option>
      <option value="L1202" [selected]=" true"> Musicien à Lille</option>
      <option value="G1601" [selected]=" true"> Personnel de cuisine à CANNES</option>
    </select>
    </div>
    <div class="col-md-3">
    <button type="button" class="btn btn-info toto" (click)="rechercher()" >
      <span class="fa fa-search" ></span></button>
    </div>
  </div>

  <!-- <div class="col-md-9 insearch " >
    <input class="form-control form-control-lg" type="text" name ="rome_code" 
    [(ngModel)]="rome_code" placeholder="le metier recherché:">
    <div class="col-md-3">
      <button type="button" class="btn btn-info toto" (click)="rechercher()" >
          <span class="fa fa-search" ></span></button>
  </div> --> 



      <!-- <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th><th>nbre des entreprises</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of companies">
              
              <td >{{item._id}}</td>
              <td>{{item.companies_count}}</td>
              
           </tr>  
          </tbody>
      </table> 

      </div> -->

      <!-- <div class="panel panel-secondary" *ngFor="let item of companies">
        <div class="panel-heading"> </div>
        <div class="panel-body">
            * pref: {{item.rome_code}}<br>
            * nbr: {{item.companies_count}}<br>
            

            </div>
            </div> -->



<br><br> <br><br><br><br>
<div class="alert alert-info" role="alert" style="text-align: center;">
  Evolution du nombre des entreprises au cours du temps avec une distance de recherche de 50km !
</div>
<hr>



  <div id ="container">
    <div style="display: block" >
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [chartType]="barChartType">
        </canvas>
      </div>
      
    </div>
    

</div>  
    <router-outlet></router-outlet>
