
<div class="container spacer">

    <div class="panel panel-secondary">
        <div class="panel-heading">Ajouter Une Préference </div>
        <div class="panel-body">

                <form class="user" [formGroup]="this.prefService.dataForm" (ngSubmit)="onSubmit()" >
                  <input type="hidden"  formControlName="id" id="id">
                  <div class="form-group">
                    <label>Préference </label>
                    <input type="text" class="form-control" formControlName="ville_metier" name="ville_metier" id="ville_metier">
                  </div>
                  <div class="form-group">
                    <label>Code</label>
                    <input type="text" class="form-control" formControlName="code_rome" name="code_rome" id="code_rome">
                  </div>
                  <div class="form-group">
                    <label>Long</label>
                    <input type="text" class="form-control" formControlName="longitude" id="longitude" name="longitude">
                  </div>
                  <div class="form-group">
                    <label>Lat</label>
                    <input type="text" class="form-control" formControlName="latitude" id="latitude" name="latitude">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
                    <button type="button" class="btn btn-outline-dark ml-1" routerLink="/preferences"><i class="fa fa-close"></i> Close</button>
                 </div>
                </form>
            

         </div>
    </div>

</div>
<router-outlet></router-outlet>
