<div class="container spacer">
    <!-- <button routerLink="/new-contact"  class="btn btn-secondary">Nouveau utilisateur</button>  -->
   <p></p><br>
   <!-- <div class="alert alert-secondary" role="alert">
    Liste des utilisateurs
  </div><br> -->
  <button type="button" class="btn btn-info">Liste des utilisateurs</button>
  
    <div class="panel panel-secondary">
        <div class="panel-heading"> </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Nom</th><th>Prénom</th><th>Email</th><th>Rôle</th><th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.id}}</td>
                    <td>{{u.nom}}</td>
                    <td>{{u.prenom}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.role}}</td>
                    <td><form action="#"><a href="" ><button type="submit" class="btn btn-info" (click)="infoUser(u.id)">Infos</button></a>&nbsp;
                        <a href="" ><button type="submit" class="btn btn-info" (click)="editUser(u.id)">Edit</button></a>&nbsp;
                        <a href="" ><button type="submit" class="btn btn-info" (click) = "removeData(u.id)">Delete</button></a></form></td>
                </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>

 <router-outlet></router-outlet> 



















