<!-- Section: Contact v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Besoin de plus d’informations.. Contactez nous !</h2>
    <!-- Section description -->
    <!-- <p class="text-center w-responsive mx-auto pb-5">Vous pouvez nous Contactez pour plus d'informations!.</p> -->
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-4"><br><br>
  
        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header blue accent-1" style="text-align: center;">
              <h3 class="mt-2"> Formulaire de contact</h3>
            </div>
            <!-- <p class="dark-grey-text">We'll write rarely, but only the best content.</p> -->
            <!-- Body -->
            <div class="md-form">
             
              <input type="text" id="form-name" class="form-control" placeholder="Votre nom">
              <label for="form-name"></label>
            </div>
            <div class="md-form">
              
              <input type="text" id="form-email" class="form-control" placeholder="Votre email">
              <label for="form-email"></label>
            </div>
            <div class="md-form">
              
              <input type="text" id="form-Subject" class="form-control" placeholder="Sujet">
              <label for="form-Subject"></label>
            </div>
            <div class="md-form">
              
              <textarea id="form-text" class="form-control md-textarea" rows="3" placeholder="Votre message"></textarea>
              <label for="form-text"></label>
            </div>
            <div class="text-center">
              <button class="btn btn-info" (click)="onSubmit()">Envoyer un message</button>
            </div>
          </div>
        </div>
        <!-- Form with header -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!--Google map-->
        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
          <iframe src="https://maps.google.com/maps?q=Paris&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Buttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-map-marker-alt"></i>
            </a>
            <p>Paris, 75015</p>
            <p class="mb-md-0">France</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-phone"></i>
            </a>
            <p>+ 33 01 234 567 </p>
            <p class="mb-md-0">Lundi - vendredi, 8:00-18:00</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating blue accent-1">
              <i class="fas fa-envelope"></i>
            </a>
            <p>info-bob@gmail.com</p>
            <p class="mb-0">BonneBoite@gmail.com</p>
          </div>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <router-outlet></router-outlet>
  <!-- <router-outlet></router-outlet> -->
  <!-- Section: Contact v.1 -->