


<body >
  <div>
    <!-- container section start -->
    <section  id="container" class="">
  
  
      <header class="header dark-bg">
        <div class="toggle-nav">
          <div class="icon-task-l tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>
  
        <!--logo start-->
        <a href="" class="logo">La Bonne<span class="lite">Boite</span></a>
        <!--logo end-->
  
        <div class="nav search-row" id="top_menu">
          <!--  search form start -->
          <ul class="nav top-menu"> 
            <li>
              <form class="navbar-form">
                <input class="form-control" placeholder="Search" type="text">
              </form>
            </li>
          </ul>
          <!--  search form end -->
        </div>
  
        <div class="top-nav notification-row">
          <!-- notificatoin dropdown start-->
          <ul class="nav pull-right top-menu">
  
            <!-- alert notification start-->
            <!-- <li id="alert_notificatoin_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
  
                              <i class="icon-bell-l"></i>
                              <span class="badge bg-important">7</span>
                          </a>
              <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-blue"></div>
                <li>
                  <p class="blue">You have 4 new notifications</p>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-primary"><i class="icon_profile"></i></span>
                                      
                                      <span class="small italic pull-right"></span>
                                  </a>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-warning"><i class="icon_pin"></i></span>
                                      
                                      <span class="small italic pull-right"></span>
                                  </a>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                      
                                      <span class="small italic pull-right"></span>
                                  </a>
                </li>
                <li>
                  <a href="#">
                                      <span class="label label-success"><i class="icon_like"></i></span>
                                      
                                      <span class="small italic pull-right"> </span>
                                  </a>
                </li>
                <li>
                  <a href="#">See all notifications</a>
                </li>
              </ul>
            </li> -->
            <!-- alert notification end-->
            <!-- user login dropdown start-->
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                              <span class="profile-ava">
                                  <!-- <img alt="" src="assets/menu/img/avatar1_small.jpg"> -->
                              </span>
                              <span class="username"> Bonjour {{prenom}} <i class="fa fa-smile-o" aria-hidden="true"></i> </span>
                              <!-- <b class="caret"></b> -->
                          </a>
              <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                  <a href="#" routerLink="profil"><i class="icon_profile"></i> Mon Profile</a>
                </li>
                <li>
                  <a href="#"><i class="icon_mail_alt"></i> Ma Boite de réception </a>
                </li>
            
               
                <li routerLinkActive="active">
                  <a (click)="onLogout()"> Se déconnecter</a>
                </li>
              </ul>
            </li>
            <!-- user login dropdown end -->
          </ul>
          <!-- notificatoin dropdown end-->
        </div>
      </header>
      <!--header end-->
  
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu">
            <li class="sub-menu">
              <a class="" href="" routerLink="home">
                            <i class="icon_house_alt"></i>
                            <span>Accueil</span>
                        </a>
            </li>
             <li  class="sub-menu">
                  <a href="javascript:;" class="" routerLink="entreprises">
                  <i class="menu-icon fa fa-table"></i>Top20 Entreprises</a>
           </li>
           
          <li *ngIf="isAdmin()" class="sub-menu">
                  <a href="javascript:;" class="" routerLink="list-user">
                  <i class="menu-icon fa fa-tasks"></i>Liste Utilisateurs</a>
          </li>

          <li class="sub-menu" >
            <a href="javascript:;" class="" routerLink="preferences" >
            <i class="menu-icon fa fa-th"></i>Liste Préférences</a>
    
          </li>
  
        
          <li class="sub-menu" >
                  <a href="javascript:;" class="" routerLink="statistiques" >
                  <i class="menu-icon fa fa-th"></i>Statistiques</a>
         
          </li>

          <li *ngIf="isUser()" class="sub-menu" >
            <a href="javascript:;" class="" routerLink="contact" >
            <i class="menu-icon fa fa-th"></i>Contact</a>
   
    </li> 
  
          
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->
  
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <!--overview start-->
          <!-- <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
              <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-laptop"></i>Dashboard</li>
              </ol>
            </div>
          </div> -->

          
                  <div class="container-fluid">
                 
                     <router-outlet></router-outlet> 
                  </div><!-- /.container-fluid -->
                 
  
        
  
        </section>
  
        
        
      </section>
     
      <!--main content end-->
    </section>
    
   
  
  </div>
  
  </body>
  
 