<div class="container contain" >
    <p></p><br><br>
    <h3 style="margin-left: 20px;">Trouvez ici le top 20 entreprises qui recrutent régulièrement, et contactez-les !*</h3>
    <div class="col-md-9 insearch " >
        <input class="form-control form-control-lg" type="text" name ="matched_rome_label" 
        [(ngModel)]= "matched_rome_label" placeholder="Indiquez le metier recherché:">
        <input class="form-control form-control-lg" type="text" name="city" [(ngModel)]="city"
         placeholder="Renseignez le lieu recherché:">  
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-info toto" (click)="rechercher()" >
            <span class="fa fa-search" ></span></button>
           
    </div>
    <br><br><br><br><br><hr>

    <!-- <div class="panel panel-secondary">
        <div class="panel-heading"> </div>
        <div class="panel-body"> -->
            <div id="listEnreprises" >
                <!-- <div  *ngFor="let item of entreprises"> -->
                <!-- <span>{{item.companies_count}}</span> -->
                <!-- <div class="panel panel-secondary" *ngFor="let u of item.companies"></div> -->
                <div class="panel panel-secondary" *ngFor="let item of companies">
                    <div class="panel-heading">Nom de l'entreprise: {{item.name}}  </div>
                    <div class="panel-body">
                        * Addresse: {{item.address}}<br>
                        * Contact: {{item.contact_mode}}<br>
                        * Effectif: {{item.headcount_text}}<br>
                        * Secteur d'activité: {{item.naf_text}}<br>
                        * Stars: {{item.stars}} <span class="fa fa-star" ></span>

                        </div>
                        </div>
                <!-- <ul>
                    <li *ngFor="let u of item.companies">
                        <span>{{u.name}}</span>
                    </li>
                </ul> -->
            </div>
            <!-- <table class="table table-striped">
                <thead>
                  <tr>
                    <th>name</th><th>city</th><th>code Metier</th><th>label</th><th>stars</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of entreprises">
                    <tr *ngFor="let j of item.companies "> -->
                    <!-- <td >{{item.companies[0].name}}</td>
                    <td>{{item.companies[0].city}}</td>
                    <td>{{item.companies[0].matched_rome_code}}</td>
                    <td>{{item.companies[0].matched_rome_label}}</td>
                    <td>{{item.companies[0].stars}}</td> -->
                <!-- </tr>  -->
                <!-- </tr>  
                </tbody>
            </table> --> 
        <!-- </div> -->
    <!-- </div> -->
    <!-- <div *ngFor="let e of entreprises">
        <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">Entreprise</div>
            <div class="panel-body">
             {{e._id}}
             
             {{e.rome_code}}
             
                
            </div>
        </div>
    </div>
    </div> -->

  </div> 
    