
.toto{
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display:inline-block;
}
.toti{
    width: 50px;
    height: 50px;
    /* margin-right: 50px; */
    display:inline-block;
}
h3{
    /* text-align: center; */
    color: #5bc0de;
}