<div class="container spacer">
    <!-- <button routerLink="/new-contact"  class="btn btn-secondary">Nouveau utilisateur</button>  -->
   <p></p><br>
   <button type="button" class="btn btn-secondary">Liste Des Préferences</button>
   <button type="button" class="btn btn-info" routerLink="/new-pref">Ajouter</button>
   
   <!-- <div class="alert alert-secondary" role="alert">
    Liste Des Préferences
  </div><br> -->
  
    <div class="panel panel-secondary">
        <div class="panel-heading"> </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ID</th><th>Préférence</th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of this.prefService.listData">
                    <td>{{item.id}}</td>
                    <td>{{item.ville_metier}}</td>
                    <!-- <td>{{item.code_rome}}</td> -->
                    
                    <td *ngIf="isAdmin()"><a href="">
                        <form action="#"><button type="submit" class="btn btn-info" (click) = "removeData(item.id)" >delete</button></form></a></td>
                </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>

 <router-outlet></router-outlet> 








