/* stylelint-disable selector-list-comma-newline-after */

h4{
    color :rgb(160, 147, 27) ;
    /* font-style: oblique; */
    font-size: large;
}
li {
    text-align: center !important;
}
img{
    margin-top: 50px;
    height: 320px;
    border-radius: 30px;
    border-color: rgb(160, 147, 27) !important;
    border: solid 0.1em;
}