<div class="container">
  <br>
  <!--overview start-->
           
            <div class="col-lg-12">
              
              <!-- <ol class="breadcrumb"> -->
                <h2 style="text-align: center !important; color: rgb(160, 147, 27) ;">La Bonne Boite : N'envoyez plus vos CV au hasard <i class="fa fa-search"></i> </h2>
                
              <!-- </ol> -->
            </div>
           
    <p></p><br>
  <div class="row">
   
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <h4>Nouveauté ! </h4>
        </div>
        <div class="card-body card-body-info">
          <blockquote class="blockquote mb-0">
            <h5 class="card-title"> * La recherche par département est désormais disponible sur La bonne boite !</h5>
            <!-- <h5> * La recherche par département est désormais disponible sur La bonne boite !</h5> -->
            
            
          </blockquote>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header"><h4>A propos !</h4></div>
        <div class="card-body">
          <h5 class="card-title">La Bonne Boite <=> Sélection d'entreprises à fort potentiel d'embauche</h5>
          <p class="card-text">La Bonne Boite cible les entreprises ayant des perspectives d'embauche élevées et permet d’être plus efficace dans l’envoi de candidatures spontanées.
           Ce ciblage est obtenu par l'analyse de millions de recrutements sur toutes les entreprises françaises en se basant sur une API qui  permet de récupérer la liste des entreprises classées par potentiel d'embauche pour un métier  et/ou activité donné, pour une localisation donnée.</p>
           <p class="card-text">plus de détail sur :  <a href="#" > https://www.emploi-store-dev.fr/</a></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/menu/img/emploi.jpg" alt="" style="width:100%">
    </div>
   </div>
      <br>
      

     

</div>
