


<!-- <body class="bg-gradient-primary"> -->
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-xl-8 col-lg-10 col-md-7">
  <div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
  <div class="row">
  <div class="col-lg-4 justify-content-center">
    <img src="assets/login/img/bob.png" class="img-circle " alt="User Image">
  </div>
  <div class="col-lg-8">
  <div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Inscription</h1>
  </div>
  <form class="user" [formGroup]="this.userService.dataForm" (ngSubmit)="onSubmit()" >
    <div class="input-group mb-3">  
     <div class="input-group-prepend">  
      <span class="input-group-text"><i class="icon-user"></i></span>  
     </div>  
     <input type="text" class="form-control sty1" id="nom"  
     name="nom" formControlName="nom" placeholder="Entrer votre nom " required>
    </div>  
    <div class="input-group mb-3">  
      <div class="input-group-prepend">  
       <span class="input-group-text"><i class="icon-user"></i></span>  
      </div>  
      <input type="text" class="form-control sty1" id="prenom"  
      name="prenom"  formControlName="prenom" placeholder="Entrer votre prenom " required>
     </div>  
     <div class="input-group mb-3">  
      <div class="input-group-prepend">  
       <span class="input-group-text"><i class="icon-user"></i></span>  
      </div>  
      <input type="text" class="form-control sty1" id="username"  
      name="username"  formControlName="username" placeholder="Entrer votre username " required>
     </div> 
     <div class="input-group mb-3">  
      <div class="input-group-prepend">  
       <span class="input-group-text"><i class="icon-user"></i></span>  
      </div>  
      <input type="text" class="form-control sty1" id="email"  formControlName="email"
      name="email" placeholder="Email" required>
     </div> 
     <div class="input-group mb-3">  
      <div class="input-group-prepend">  
       <span class="input-group-text"><i class="icon-user"></i></span>  
      </div>  
      <select name="role" formControlName="role" class="form-control " type="text" id="role">
        <option>Entrer votre role</option>
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
     </div> 

    <div class="input-group mb-4">  
     <div class="input-group-prepend">  
      <span class="input-group-text"><i class="icon-lock"></i></span>  
     </div>
      <input type="password" class="form-control sty1" id="motDepass" 
       name="motDepass"  formControlName="motDepass"  placeholder=" Entrer votre mot de passe" required>
     </div>  
    <!-- <div class="form-group">
      <div class="custom-control custom-checkbox small">
        <input type="checkbox" class="custom-control-input" id="customCheck">
        <label class="custom-control-label" for="customCheck">Remember Me</label>
      </div>
    </div> -->
      <button class="btn btn-primary btn-user btn-block" >s'inscrire</button>
      <hr>
  </form>
      

  <div class="text-center">
    <a class="small"  routerLink="/login" >Vous avez déjà un compte!</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- </body> -->
  <router-outlet></router-outlet>

 
